#test, #learn, #home, #events, #myevents, #login, #accountInfo {
    color: white;
    float: right;
    font-family: 'Tajawal', sans-serif;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
}

#accountInfo {
    padding-top: 0px;
}

#navbarNavAltMarkup {
    float: right;
}

.navbar-nav {
    float: right;
}

.navbar-brand b {
    font-family: 'DM Sans', sans-serif;
    color: #FFFFFF;
}

a {
    color: white;
}

nav {
    background-color: #378C2E;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}