html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-control{
  width: 25%;
  margin-right: 10px;
  display: inline;
}

.btn {
  display: inline;
  vertical-align: middle;
}

#home, #learn-container, #game-container, #map-container {
  scroll-behavior: smooth;
}