form {
    float: none;
    padding-left: 20px;
}

input {
    float: left;
    margin-bottom: 10px;
}

label {
    float: left;
    margin: 0 auto;
    clear: both;
}

.input {
    float: right;
    width: 60%;
}

.textarea {
    width: 95%;
}

.form-group {
    margin: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    float: left;
    clear: both;
}

.modal-backdrop {
    z-index: 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:visited, .btn-primary:active {
    background-color: #378C2E;
}

.autocomplete-dropdown-container {
    float: left;
    font-size: 14px;
    height: 100px;
    width: 100%;
    overflow: scroll;
}