/*LOGO CSS */

.left {
    position: absolute;
    left: 10%;
    top: 25%;
    height: 60%;
    width: 30%;
}


.left img {
    height: 400px;
    width: 400px;
}

@media only screen and (max-width: 1366px) {
    .left {
        left: 30%;
        top: 50%;
    }
}