.nav-button {
    margin: 0;
    padding: 0;
}

.fixed {
    position: fixed;
    bottom: 20px;
    right: -140px;
    background-color: red;
    font-size: 20px;
    height: 60px;
    width: 140px;
}

button {
    float: right;
    clear: both;
    margin-right: 150px;
    margin-top: 5px;
}