/* BUTTON MY EVENTS */

.nav-button {
    margin: 0;
    padding: 0;
}

.fixed-btn1, .fixed-btn1:hover, .fixed-btn1:active, .fixed-btn1:visited {
    position: fixed;
    top: 80px;
    right: -145px;
    background-color: #534f44 !important;
    font-size: 16px;
    height: 40px;
    width: 120px;
}

.fixed-btn1, .fixed-btn2 {
    opacity: .5;
}

.fixed-btn1:hover, .fixed-btn1:active, .fixed-btn2:hover, .fixed-btn2:active {
    opacity: 1;
}

button {
    float: right;
    clear: both;
    margin-right: 150px;
    margin-top: 5px;
}

table, th, td {
    border: 1px solid black;
  }

.fa-calendar-check {
    padding-right: 3px;
}

.event-header {
    text-align: center;
    width: 100%;
}