.material-name {
    text-align: center;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1e1e1;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 0;
}

.dropdown-content h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}

.dropdown-content p {
    font-size: 20px;
}

.dropdown .dropdown-content {
    display: block;
    width: 640%;
    height: 300px;
}

.row #item1 {
    position: absolute;
    left: -20%;
    top: 50px;
}

.row #item2 {
    position: absolute;
    left: -120%;
    top: 50px;
}

.row #item3 {
    position: absolute;
    left: -220%;
    top: 50px;
}

.row #item4 {
    position: absolute;
    left: -320%;
    top: 50px;
}

.row #item5 {
    position: absolute;
    left: -420%;
    top: 50px;
}

.row #item6 {
    position: absolute;
    left: -520%;
    top: 50px;
}

.dropdown.col .row {
    position: absolute;
    left: 10px;
    width: 100%;
    transition: 180s;
}

.dropdown.col {
    text-align: center;
}

.col {
    margin: 0;
    padding: 1px;
}

@media only screen and (max-width: 1336px) {


}