.material-name {
    text-align: center;
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    height: 400px;
    padding: 12px 16px;
    z-index: 0;
}

.dropdown-content h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}

#item2 h3 {
    font-size: 15.95px;
}

.dropdown-content p {
    font-size: 12px;
}

/* Add:hover right after .dropdown */
.dropdown .dropdown-content {
    display: block;
}

#item1, #item2, #item3, #item4, #item5, #item6, #item7 {
    top: 55px;
}

.col .dropdown .dropdown-content #item1 {
    left: -100px;
    width: 100%;
    position: relative;
}

.col {
    margin: 0;
    padding: 1px;
}