/* BUTTON CREATE EVENT */

.nav-button {
    margin: 0;
    padding: 0;
}

.fixed-btn2, .fixed-btn2:hover, .fixed-btn2:active, .fixed-btn2:visited {
    position: fixed;
    top: 125px;
    right: -145px;
    background-color: #534f44;
    font-size: 16px;
    height: 40px;
    width: 120px;
    padding: 0;
}

button {
    float: right;
    clear: both;
    margin-right: 150px;
    margin-top: 5px;
}

.fa-calendar-plus {
    padding-right: 3px;
}