.nav-button {
    margin: 0;
    padding: 0;
}

.fixed-btn2, .fixed-btn2:hover, .fixed-btn2:active, .fixed-btn2:visited {
    position: fixed;
    top: 115px;
    right: -145px;
    background-color: #378C2E;
    font-size: 16px;
    height: 50px;
    width: 120px;
    padding: 0;
}

button {
    float: right;
    clear: both;
    margin-right: 150px;
    margin-top: 5px;
}